.main_page-comunidad {
    max-width: 1500px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 150px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background-color: #dfece6;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
    font-family: "Cairo Variable";
  }
  
  .start_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .start-text-container {
    max-width: 650px;
    justify-self: flex-start;
  }
  .start-text-container > h2 {
    font-family: "Cairo Variable";
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    font-size: 4rem;
  }
  .start-text-container > h2 > small {
    font-size: 3rem;
  }
  
  .start-image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-radius: 30px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 1);
    width: 330px;
    height: 330px;
  }
  .articles-container {
    border-top: #049144 solid 2px;
    margin: 20px 50px 0 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }
  .article {
    max-width: 300px;
    background-color: #4c966f2d;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease 0s;
  }
  .article:hover {
    transform: scale(1.2);
  }
  .article > p {
    padding: 0px 10px 10px 10px;
    margin: 10px 0;
  }
  .article-img {
    height: 150px;
    background-image: url(cultivo-plantas-cannabis.jpg);
    background-size: cover;
    background-position-y: 30%;
    border-radius: 8px;
  }
  .article-title {
    text-align: center;
  }

  @media (max-width: 900px) {
  
    .main_page-comunidad {
      border-radius: 0;
      padding: 20px 0 20px 0;
      margin: 40px 0 40px 0;
      box-shadow: 0 0 5px #ffffff;
    }
    .start_container {
      display: block;
      margin: auto;
      padding: 0;
    }
    .start-image {
      width: 30vw;
      height: 30vw;
      display: block;
      margin: auto;
      margin-top: 40px;
    }
    .start-text-container {
      text-align: center;
    }
  
    .start-text-container > h2 {
      font-size: 8vw;
      text-align: center;
    }
    .start-text-container > h2 > small {
      font-size: 6vw;
    }
    .prox {
      margin: 0;
    }
    .links {
      justify-content: center;
    }
    .start-image-small {
      display: block;
    }
    .start-image-big {
      display: none;
    }
  }